html, body {
    font-family: helvetica;
    font-size: 20px;
    background-color: white; 

}
h1 {
	text-align: center;
}
h3{
	text-align: left;
}
p {
	text-align: left;
}
.resize {
	
	max-width: 100%;
	height: auto;
	padding: 5px;
	border: 2px solid black;

}
hr.middle{
	border: 1px solid black;
	margin: 25px;

}
hr.top {
	border: 2px solid black;
	margin: 5px;

}
.header{
	margin: 30px;
}
.nav {
	text-align: center;
	
}
